.login-form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #121212;
  border: 1px solid #0ff67f;
  border-radius: 10px;
  color: #c0f9c0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form-container h2 {
  text-align: center;
  color: #39ff14;
  margin-bottom: 20px;
}

.login-form-container label {
  margin-bottom: 5px;
  display: block;
}

.login-form-container input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #0ff67f;
  background-color: #0b0b0b;
  color: #c0f9c0;
  width: 100%;
  box-sizing: border-box;
}

.login-form-container button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #0ff67f;
  color: #000;
  transition: 0.2s;
}

.login-form-container button:hover {
  background-color: #39ff14;
  box-shadow: 0 0 6px #39ff14;
}

.login-form-container p {
  color: red;
  margin: 0;
  text-align: center;
}

.login-register-text {
  margin-top: 14px;
  text-align: center;
  font-size: 0.9rem;
  color: #374151;
}

.login-register-link {
  color: #10b981;
  font-weight: 600;
  text-decoration: none;
}

.login-register-link:hover {
  text-decoration: underline;
}
